#footer-navbar {
    position: fixed; 
    bottom: 0px; 
    width: 100%;
    background-color: #e6e6e6;
}

.footer-button {
    display: inline-block;
    width: 32%;
    text-align: center;
    height: 50px;
    padding: 10px 0;
}

.fbl {
    border-right: 1px solid white;
}

#content {
    padding-bottom: 70px;
}

.inline {
    display:inline-block;
}

.going {
    color: green;
}

.waiting {
    color: black;
}

.declined {
    color: red;
}

.attendees {
    list-style-type: square;
}

.bold {
    font-weight: bold;
}

#createEvent {
    height: 50px;
    font-size: 20px;
}
