#footer-navbar {
    position: fixed; 
    bottom: 0px; 
    width: 100%;
    background-color: grey;
}

.footer-button {
    display: inline-block;
    width: 32%;
    text-align: center;
    height: 50px;
    padding: 10px 0;
}

.fbl {
    border-right: 1px solid white;
}

#content {
    padding-bottom: 70px;
}

.inline {
    display:inline-block;
}